@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @Html.ActionLink("clique la ", "Inscription","Utilisateur")
    @Html.ActionLink("Coordonnees ", "AjoutCoordonnees","Coordonnees")
    @Html.ActionLink("clique la pour le layout login", "LayoutLogin", "Login")
</div>
