
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>_LayoutLogin</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" media="screen,projection" />
</head>
<body>
    <div class="section-login">
        <div class="row no-margin-row">
            <div class="col s12 m8 l8">
                <header>
                    <div class="content-img-header">
                        <img src="/images/logo-wise.png" />
                    </div>
                </header>
            </div>
            <div class="col s12 m4 l4 no-margin-col">
                <div class="background-image-login-right">
                    <h1 class="login-title-h1">Partager, consulter, retrouver vos formations</h1>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/materialize/js/materialize.min.js"></script>
</body>
</html>
