@{
    Layout = null;
}

<h1>Connexion</h1>
<form action="/Connexion" methode="POST">
    <input name="mail" type="text" placeholder="mail">
    <input name="mdp" type="password" placeholder="Mot de passe">
    <input type="submit">
</form>