@{
    Layout = null;
}

<h1>Inscription</h1>
<form action="/inscription" methode="POST">
    <input name="nom" type="text" placeholder="Nom">
    <input name="prenom" type="text" placeholder="Prénom">
    <input name="mail" type="text" placeholder="Email">
    <input name="mdp" type="password" placeholder="Mot de passe">
    <input name="mdpConfirm" type="password" placeholder="Confirmez votre mot de passe">
    <input name="infosComple" type="password" placeholder="Informations complémentaires">
    <input type="submit">
</form>