@{
    Layout = null;
}

<h1>Nouveau mot de passe</h1>
<form action="/motDePasse">
    <input name="mdp" type="password" placeholder="Mot de passe">
    <input name="mdpConfirm" type="password" placeholder="Confirmez votre mot de passe">
    <input type="submit">
</form>