@{
    Layout = null;
}

<h1>Mot de passe oublié</h1>

<form action="/Recuperations" methode="POST">
    <input name="mail" type="text" placeholder="Email de récupération" />
    <input type="submit" />
</form>
